<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form id=“myForm" onsubmit="onSubmit()">
     <label for='firstname'>First name:</label>
     <input type="text" name="firstname" id="firstname"
    value="Mickey">
     <p><label for='lastname'>Last name:</label>
     <input type="text" name="lastname" id="lastname"
    value="Mouse">
     </p>
     <p><input type="submit" name="g" value="Submit" id="g"></p>
     </form>
     <div id="results" style="margin-top:30px"></div>
  </body>
</html>
